{% extends 'inc/base.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
    <div class="row main_question">
    <div class="col-3 question_box_left">
        <div class="row">
            <img id="main_question_img" src="{% static "img/111.jpg" %}" alt="My image" class="question-img">
        </div>
        <div id="main_question_like_widget" class="row like_widget">
            <img class="btn btn-primary btn-sm btn-light" src="{% static 'img/like.jpg' %}" height="24">
            <div class="bd-highlight like-status">5</div>
            <img class="btn btn-primary btn-sm btn-light" src="{% static 'img/dislike.jpg' %}" height="24">
        </div>
    </div>
        <div class="col-9">
            <div class="question_box_right">
                <div class="question-title">{{ question.title }}</div>
                <div >{{ question.text }}</div>
                <div class="row">
                    <div class="col">
                        <span class="ans_tag">Tags:</span>
                            <!-- doesn't work!!! -->
                            <!-- <a class="ans_tag" href="{% url 'tag' tags.1  %}">{{ tags.question.tags }}</a>  -->
                            <a class="ans_tag" href="{% url 'tag' tags.1  %}">{{ tags.2 }}</a> 
                            <a class="ans_tag" href="{% url 'tag' tags.1  %}">{{ tags.5 }}</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    {% for answer in page_obj %}
        {% include 'inc/answer.html' %}
    {% endfor %}

    <hr/>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Guys, i have trouble with a moon park. Can't find the black-jack..."></textarea>
    <button id="answer_btn_answer_page" type="button" class="page_btn btn btn-outline-secondary" id="answer_btn">Answer!
    </button>
{% endblock content %}

{% block right %}
    {% include 'inc/tags_section.html' %}
{% endblock right %}

{% block page_btns %}
    {% include 'inc/pagination.html' %}
{% endblock page_btns %}