{% extends 'inc/base.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
    <div class="row main_question">
        <div class="col-3 question_box_left">
            <img id="main_question_img" src="{% static "img/111.jpg" %}">
            <input type="number" name="number" class="number_edit_main_answer" placeholder="1">
        </div>
        <div class="col-9">
            <div class="question_box_right">
                <div class="question-title">Best question?</div>
                <div >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the...</div>
                <div class="row">
                    <div class="col">
                        <span class="ans_tag">Tags:</span>
                        <a class="ans_tag" href="">black-jack</a>
                        <a class="ans_tag" href="">bender</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    {% include 'inc/answer.html' %}
    {% include 'inc/answer.html' %}

    <hr/>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Guys, i have trouble with a moon park. Can't find the black-jack..."></textarea>
    <button id="answer_btn_answer_page" type="button" class="page_btn btn btn-outline-secondary" id="answer_btn">Answer!
    </button>
{% endblock content %}

{% block right %}
    {% include 'inc/tags_section.html' %}
{% endblock right %}