{% extends 'inc/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <span id="page_header">Log in</span>
    </div>
    <div class="row">
        <span id="alert_message">Sorry, wrong password(</span>
    </div>
    <form class="form" method="POST" action="/login/" enctype="">
        {{ form }}
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
                <button type="submit" class="page_btn btn btn-outline-secondary">Log in</button>
            </div>
        </div>
    </form>
    
    
    <div class="row" id="create_acc_link">
        <div class="col-4"></div>
        <div class="col-8">
            <a href="{% url 'signup' %}">Create new account</a>
        </div>
    </div>
{% endblock content %}

{% block right %}
    {% include 'inc/tags_section.html' %} 
{% endblock right %}

{% block page_btns %}
{% endblock page_btns %}