{% load static %}

<div class="row question-box">
    <div class="col-3 question_box_left">
        <div class="row">
            <img src="{% static "img/111.jpg" %}" alt="My image" class="question-img">
        </div>
        <div class="row like_widget">
            <img class="btn btn-primary btn-sm btn-light" src="{% static 'img/like.jpg' %}" height="24">
            <div class="bd-highlight like-status"> {{ answer.marks.count_rating }} </div>
            <img class="btn btn-primary btn-sm btn-light" src="{% static 'img/dislike.jpg' %}" height="24">
        </div>
    </div>
    <div class="col-9">
        <div class="question_box_right">
            <div class="question-text">{{ answer.text }}</div>
            <div class="row answers_links_bottom">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            correct answer
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>