{% load static %}

<div class="row question-box">
    <div class="col-3 question_box_left">
        <img class="question-img" src="{% static "img/111.jpg" %}">
        <input type="number" name="number" class="number_edit" placeholder="1">
    </div>
    <div class="col-9">
        <div class="question_box_right">
            <div class="question-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the...</div>
            <div class="row answers_links_bottom">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            correct answer
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>