{% load static %}

<div class="row question-box">
	<div class="col-3 question_box_left">
		<img src="{% static "img/111.jpg" %}" alt="My image" class="question-img">
		<input type="number" name="number" class="number_edit" placeholder="1">
	</div>
	<div class="col-9">
		<div class="question_box_right">
			<div class="question-title">Best question?</div>
			<div class="question-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the...</div>
			<div class="row">
				<div class="col">
					<a href="">answer answer (<span>3</span>)</a>
				</div>
				<div class="col">
					<span class="ans_tag">Tags:</span>
					<a class="ans_tag" href="">black-jack</a>
					<a class="ans_tag" href="">bender</a>
				</div>
			</div>
		</div>
	</div>
</div>