{% load static %}

<div class="row question-box">
	<div class="col-3 question_box_left">
		<div class="row">
			<img src="{% static "img/111.jpg" %}" alt="My image" class="question-img">
		</div>
		<div class="row like_widget">
			<img class="btn btn-primary btn-sm btn-light" src="{% static 'img/like.jpg' %}" height="24">
            <div class="bd-highlight like-status"> {{ question.marks.count_rating }} </div>
            <img class="btn btn-primary btn-sm btn-light" src="{% static 'img/dislike.jpg' %}" height="24">
		</div>
	</div>
	<div class="col-9">
		<div class="question_box_right">
			<div class="question-title">{{ question.title }}</div>
			<div class="question-text">{{ question.text }}</div>
			<div class="row">
				<div class="col">
					<a class="ans_tag" href="{% url 'question_answers' question.id  %}">answer (<span>3</span>)</a>
				</div>
				<div class="col">
					<span class="ans_tag">Tags:</span>
					{% for tag in question.tags.get_all_tags %}
            			<a class="ans_tag" href="{% url 'tag' tag  %}">{{ tag }}</a>
        			{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>