<button type="button" class="page_btn btn btn-outline-secondary">1</button>
<button type="button" class="page_btn btn btn-outline-secondary">2</button>
<button type="button" class="page_btn but btn btn-outline-secondary">3</button>
<button type="button" class="page_btn but btn btn-outline-secondary">4</button>
<button type="button" class="page_btn but btn btn-outline-secondary">5</button>
<button type="button" class="page_btn but btn btn-outline-secondary">6</button>
<button type="button" class="page_btn but btn btn-outline-secondary">...</button>