<div>
    <div class="row">
        <span class="row tags_header">Tags</span>
    </div>
    <div class="row link_tags">
        <a class="sample_tag lang_tag" href="">perl</a>
        <a class="sample_tag lang_tag" href="">MySQL</a>
        <a class="sample_tag framework_tag" href="">django</a>
    </div>
</div>
<div>
    <div class="row">
        <span class="row tags_header">Best Members</span>
    </div>
    <div class="row link_tags">
        <a class="sample_tag" href="">Mr.Freeman</a><br>
        <a class="sample_tag" href="">Dr.House</a><br>
        <a class="sample_tag" href="">Bender</a><br>
        <a class="sample_tag" href="">Queen Victoria</a>
    </div>
</div>